body{
    background-color: #2E7D32;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/*Aqui se INICIA a barra de navegação*/

.navbar{
    display: flex;
    justify-content: flex-start;
    background-color: rgb(34, 34, 34);
    padding: 1em;

}



.navbar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: x-large;
    margin-right: 3%;
    font-size: medium;
    

}

.navbar a:hover{

    transition: 1s;
    transform: scale(1.2, 1.2);
}


/*Aqui se ENCERRA a barra de navegação*/

/*Aqui se INICIA a parte dos Cards*/

.CARDS{
    display: flex;
    position: absolute;
    gap: 30px;
    padding-left: 5%;
    opacity: 0;
    transform: translateY(30px);
    animation: AnimaçãoDoCardAparecendo 2.0s ease forwards;
    

}

/* Cria uma animação chamada "aparecer" */
@keyframes AnimaçãoDoCardAparecendo {

    /* "to" representa o estado final da animação */
    to {

        /* Define que o elemento ficará totalmente visível */
        opacity: 1;

        /* Move o elemento para sua posição original no eixo vertical */
        transform: translateY(0);
    }
}

.card-body{
    display: flex;
    flex-direction: column;
}

.card-body a{
    margin-top: auto;
}



.card:hover{
    transform: translateY(-5px);
    transition: 1.0s;
}

.CARDS a:hover{

    transition: 2s;
    transform: scale(1.1, 1.1);

}

/*Aqui se ENCERRA a parte dos Cards*/

.MAPA{
    width: 100%;
    max-width: 800px;
    margin-top: 50%;
    padding-left: 53%;
}